# backend
NODE_ENV=development
DB_URI=mongodb://127.0.0.1:27017/userdb
PORT=3000

# frontend - remember, env variables for Vue.js should be in "frontend/.env" and their names should match pattern VUE_APP_*
VUE_APP_SERVER=http://localhost:3000/